body {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  background-color: bisque;
}
h1,
p {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
}
p {
  line-height: 20px;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  margin: 0 20px;
}
a {
  color: green;
}
.croissantPicture {
  width: 500px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
}
.email {
  color: blue;
}
